@page "/QuranTestPage"
@using QuranLib

<PageTitle>Counter</PageTitle>

<h1>@randomChapter.ChapterName</h1>
<h1>@randomChapter.ChapterNameArabic</h1>
<h1>@randomChapter.ChapterNameEnglish</h1>
<h1>@randomChapter.Order</h1>
@foreach (Verse ayah in randomChapter.Verses)
{
    
    <h4 dir="rtl">@ayah.VerseNumber - @ayah.Text - @ayah.SajdaType</h4>
}

@code {
    private static QuranInstance? quran;
    private static Random random = new();
    private static Chapter randomChapter;
    protected override void OnInitialized()
    {
        quran = new QuranInstance(scriptType: ScriptType.WithTashkil);
        quran.LoadChapters(1, 9);
        randomChapter = quran.GetChapter((byte)random.Next(1, 114));
        base.OnInitialized();
    }
}
